*{
    box-sizing: border-box;
}
input {
    padding-left: 5px;
    border-radius: 5px;
    height: 35px;
    width: 500px;
    border: 2px solid rgb(6, 62, 123);
}
button{
    padding: 8px 15px;
    border-radius: 5px; 
    margin-left: 15px;
    background-color: blue;
    color: #fff;
    border: none;
    cursor: pointer;
}


ul{
    width: 600px;
    height: 50px;
    padding: 0;
}
li{
    margin-top: 1rem;
    padding: 10px 20px;
    border-radius: 5px;
    border: 1px solid rgb(212, 211, 211);
    display: flex;
    justify-content: space-between;
}
ul i {
    cursor: pointer;
    color:rgb(47, 45, 45);
}
 .fa-pen:hover{
    color: green;
 }
 .fa-trash:hover{
    color: red;
 }




 #modal-special {
    width: 65%;
    height: 9rem;
    background-color: #0069d9;
    top: 7rem;
    z-index: 999;
    position: absolute;
    display: none; 
    /* flex */
    justify-content: center;
    align-items: center;
    gap: 1rem;
    border-radius: 10px;
}

#modal-special input {
    width: 80%;
    height: 2.5rem;
    border-radius: 10px;
    padding: 5px;
    padding-left: 10px;
    outline: none;
}

#modal-special button {
    background-color: green;
    transition: 1s;
    height: 3rem;
    color: #fff;
    padding: 10px;
    cursor: pointer;
    border: 1px solid green;
    border-radius: 10px;
}

#modal-special button:hover {
    background-color: #fff;
    color: green;
}

#closeDetail {
    position: absolute;
    right: 0;
    top: 0;
    margin: 1rem;
    z-index: 9999;
    background-color: red;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;
    width: 2rem;
    height: 2rem;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
    transition: 1s;
}

#closeDetail:hover {
    background-color: #fff;
    color: red;
}